body { 
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(48, 52, 54);
  background-image: url('bodyfundo.jpg');
  background-position: center center;
  height: 98vh;
}

main  { 
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid rgb(146, 1, 122);
  box-shadow: 0px 0px 5px rgb(141, 33, 230);
  width: 600px;
  background-color: rgba(0, 0, 0, 0.418);
}

/* Alinhamento no Centro  */
.js-platao-horas { 
  display: flex;
  align-items: center;
  margin-top: 20px;

}

.horas-dias { 
  display: flex;
  flex-direction: column;
}

h2, h3 { 
  color: white;
  border-bottom: 1px solid rgb(141, 33, 230);
 
}

/* Photo */
#platao-js { 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

/* Tamanho da Hora mostrada */
#js-hours { 
  font-size: 40px;
  margin: 0;
}

#js-aviso { 
  margin: 0;
}

#js-days { 
  margin: 0;
}

p { 
  font-size: 20px;
  color: white;
}

@media (max-width: 768px) { 
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  main { 
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
}